---
import margauxImage from '../assets/images/margaux.png';
import brownLines from '../assets/images/particules/brown-lines-3.svg';
import dotGroup from '../assets/images/particules/dot-group.svg';
import { Picture } from 'astro:assets';
import { Image } from 'astro:assets';
---


<!-- ============================================ -->
<!--            Side by Side Reverse              -->
<!-- ============================================ -->

<section id="sbs-2010">
    <div class="cs-container">
        <div class="cs-content">
    <div class="cs-flex">
        <span class="cs-topper">À propos de moi</span>
        <h2 class="cs-title">MargoMassage, votre masseuse à domicile à La Rochelle</h2>
    </div>
    <p class="cs-text-large">
        Je suis Margo, <strong>masseuse professionnelle à domicile à La Rochelle</strong>, animée par une passion pour le bien-être et la relaxation. Formée au Népal au sein de la renommée AIPA Nepal Massage School Academy, j’ai acquis une expertise dans les techniques de <strong>massage traditionnel et thérapeutique</strong>, reconnues pour leur efficacité et leur profondeur.
    </p>
    <p class="cs-text">
        Mon ambition est de vous offrir une expérience de <strong>massage à domicile à La Rochelle</strong> qui allie détente, sérénité et personnalisation. Que vous recherchiez une <strong>relaxation profonde</strong>, un soulagement des tensions musculaires ou une harmonisation énergétique, chaque séance est conçue pour répondre à vos besoins spécifiques, dans le confort de votre foyer. Avec <strong>MargoMassage</strong>, profitez d’un moment de bien-être sur mesure à La Rochelle.
    </p>
    <p class="cs-text">
        Inspirée par mon expérience au Népal, j’associe des <strong>techniques de massage ancestrales</strong> à une approche contemporaine pour proposer des soins d’exception. Mes clients à La Rochelle apprécient l’attention portée à la personnalisation des massages, ainsi que l’atmosphère apaisante que je crée lors de chaque intervention. Que ce soit pour un <strong>massage bien-être</strong> ou un soin thérapeutique, je m’engage à vous offrir une expérience unique et revitalisante.
    </p>
</div>
        <div class="cs-image-group">
            <Picture
            pictureAttributes={{
              class: "cs-picture",
            }}
          src={margauxImage}
          alt="Margaux representative picture"
          formats={["avif", "webp", "jpg"]} 
          loading={"eager"}
          decoding={"auto"}/>
            <Image
                class="cs-graphic cs-brown"
                src={brownLines}
                alt="graphic"
                width="208"
                height="203"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                />
            <Image
                class="cs-graphic cs-dots"
                src={dotGroup}
                alt="graphic"
                width="137"
                height="112"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                />
            
        </div>
    </div>
</section>


                                
                                                   
       

<style>

         /*-- -------------------------- -->
<---   Side by Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2010 {
    width: 100%;
    padding: var(--sectionPadding);
    /* 48px - 100px */
    padding-bottom: clamp(3rem, 13vw, 6.25rem);
    overflow: clip;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
    position: relative;
    z-index: 9;
  }
  #sbs-2010 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-auto-flow: row;
    /* 48px - 80px */
    gap: clamp(3rem, 6vw, 5rem);
  }
  #sbs-2010 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 49.1875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 3;
  }
  #sbs-2010 .cs-text-large {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 0.75rem;
    color: var(--headerColor);
  }
  #sbs-2010 .cs-title {
    max-width: none;
  }
  #sbs-2010 .cs-text {
    max-width: none;
    margin-bottom: 1rem;
  }
  #sbs-2010 .cs-text:last-of-type {
    margin-bottom: 0;
  }
  #sbs-2010 .cs-image-group {
    font-size: min(2.97vw, 1rem);
    width: 25.8125em;
    height: 34.4375em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-2010 .cs-picture {
    width: 23.8125em;
    height: 34.4375em;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 0.5em solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-2010 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-2010 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #sbs-2010 .cs-brown {
    width: 8.25em;
    height: auto;
    top: 0;
    right: 0;
    z-index: -2;
  }
  #sbs-2010 .cs-dots {
    width: 8.5625em;
    height: auto;
    top: 0;
    left: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2010 .cs-container {
    max-width: 80rem;
    justify-items: initial;
    align-items: center;
    grid-template-columns: repeat(2, auto);
  }
  #sbs-2010 .cs-content {
    grid-column: span 1;
    align-self: center;
  }
  #sbs-2010 .cs-image-group {
    grid-column: span 1;
  }
  #sbs-2010 .cs-brown {
    top: 0;
    right: 0;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-2010 {
    margin-bottom: -1vw;
    padding-bottom: 3.125rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-2010 .cs-title,
  body.dark-mode #sbs-2010 .cs-text-large,
  body.dark-mode #sbs-2010 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-2010 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-2010 .cs-picture {
    border-color: var(--accent);
  }
  body.dark-mode #sbs-2010 .cs-graphic {
    opacity: 0.6;
  }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-2010 {
    padding: var(--sectionPadding);
    /* we remove the padding-top from the section and apply it to cs-wrapper instead, so we can vertically offset the text content from the cs-wave graphic */
    padding-top: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #stats-2010:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 15%;
    left: 0;
    z-index: -1;
  }

  #stats-2010 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 80px */
    gap: clamp(3rem, 6vw, 5rem);
  }
  #stats-2010 .cs-wrapper {
    /* 48px - 150px */
    padding-top: clamp(3rem, 15vw, 9.375rem);
  }
  #stats-2010 .cs-h3 {
    font-size: 1.9375rem;
    font-weight: 900;
    line-height: 1.2em;
    margin: 0 0 1rem;
    color: var(--headerColor);
  }
  #stats-2010 .cs-text {
    margin-bottom: 0.75rem;
  }
  #stats-2010 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #stats-2010 .cs-stat-group {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* 48px - 57px */
    gap: clamp(3rem, 6vw, 3.5625rem);
  }
  #stats-2010 .cs-stat-number {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 5vw, 2.4375rem);
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 0 0 0.5rem;
    color: var(--primary);
    display: block;
  }
  #stats-2010 .cs-stat-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--bodyTextColor);
    display: block;
  }
  #stats-2010 .cs-image-group {
    font-size: min(3.37vw, 0.9rem);
    width: 27.0625em;
    height: 35.3125em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #stats-2010 .cs-picture {
    width: 25.8125em;
    height: 33.625em;
    margin-top: 1.5em;
    box-sizing: border-box;
    background-color: #dab692;
    overflow: hidden;
    border: 8px solid #dab692;
    border-radius: 16.25rem;
    position: absolute;
    z-index: -1;
  }
  #stats-2010 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #stats-2010 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #stats-2010 .cs-brown {
    width: 8.6875em;
    height: auto;
    top: 1.4375em;
    right: 0;
    z-index: -2;
    transform: rotate(-140deg);
  }
  #stats-2010 .cs-peach {
    width: 4.3125em;
    height: auto;
    top: 0;
    right: 6.9375em;
  }
  #stats-2010 .cs-leaf {
    width: 14.0625em;
    height: auto;
    bottom: 0em;
    left: -1.25em;
    z-index: 1;
  }
  #stats-2010 .cs-dots {
    width: 16.3125em;
    height: auto;
    right: 0.8125em;
    bottom: 0;
    z-index: -2;
  }
  #stats-2010 .cs-lines {
    width: 11em;
    height: auto;
    bottom: -0.6875em;
    left: -1.25em;
  }
  #stats-2010 .cs-dark {
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-2010::before {
    top: 35%;
  }
  #stats-2010 .cs-container {
    max-width: 80rem;
    flex-direction: row-reverse;
    align-items: flex-end;
    /* 48px - 60px */
    gap: clamp(3rem, 6vw, 3.75rem);
  }
  #stats-2010 .cs-image-group {
    font-size: min(1.31vw, 1rem);
    flex: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #stats-2010::before {
    background-color: var(--medium);
  }
  body.dark-mode #stats-2010 .cs-title,
  body.dark-mode #stats-2010 .cs-h3,
  body.dark-mode #stats-2010 .cs-stat-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #stats-2010 .cs-stat-text {
    opacity: 0.8;
  }
  body.dark-mode #stats-2010 .cs-picture {
    border-color: var(--accent);
  }
  body.dark-mode #stats-2010 .cs-graphic {
    opacity: 0.6;
  }
  body.dark-mode #stats-2010 .cs-peach {
    filter: brightness(60%);
    opacity: 1;
  }
  body.dark-mode #stats-2010 .cs-dark {
    display: block;
  }
  body.dark-mode #stats-2010 .cs-light {
    display: none;
  }
}
                                 
                                
</style>