---

---

<!-- ============================================ --><!--                  Services                    --><!-- ============================================ -->
<section id="services-2198">
 
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Une expérience unique</span>
      <h2 class="cs-title cu-font-nexa">Pour chaque besoin</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a
          href="/particuliers"
          class="cs-link"
        >
          <picture
            class="cs-picture"
            style="clip-path: circle(44.3% at 50% 50%);"
          >
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="https://img.freepik.com/photos-gratuite/tendre-femme-africaine-souriante-beneficiant-massage-yeux-fermes-dans-station-thermale_176420-12929.jpg?t=st=1732177731~exp=1732181331~hmac=bd4ebd79b6b8e0ba5d92ca6c06b7c4818aa63b4f6392d9a071e563ca7cea70a7&w=1060"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="https://img.freepik.com/photos-gratuite/tendre-femme-africaine-souriante-beneficiant-massage-yeux-fermes-dans-station-thermale_176420-12929.jpg?t=st=1732177731~exp=1732181331~hmac=bd4ebd79b6b8e0ba5d92ca6c06b7c4818aa63b4f6392d9a071e563ca7cea70a7&w=1060"
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://img.freepik.com/photos-gratuite/tendre-femme-africaine-souriante-beneficiant-massage-yeux-fermes-dans-station-thermale_176420-12929.jpg?t=st=1732177731~exp=1732181331~hmac=bd4ebd79b6b8e0ba5d92ca6c06b7c4818aa63b4f6392d9a071e563ca7cea70a7&w=1060"
              alt="wedding photography"
              width="413"
              height="340"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">A domicile</h3>
            <span class="cs-number">01</span>
          </div>
          <p class="cs-item-text cu-font-nexa">
            Une expérience unique et individuelle directement à la maison.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="/entreprises"
          class="cs-link"
        >
          <picture class="cs-picture" style="clip-path: circle(44.3% at 50% 50%);">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="https://img.freepik.com/photos-gratuite/jeune-femme-se-detendre-dans-salon-spa_176420-7578.jpg?t=st=1732177804~exp=1732181404~hmac=9557a76f589c3fa67d8b8c666caa99eeb89452789f02e653ac2f61476fa41543&w=1060"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="https://img.freepik.com/photos-gratuite/jeune-femme-se-detendre-dans-salon-spa_176420-7578.jpg?t=st=1732177804~exp=1732181404~hmac=9557a76f589c3fa67d8b8c666caa99eeb89452789f02e653ac2f61476fa41543&w=1060"
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://img.freepik.com/photos-gratuite/jeune-femme-se-detendre-dans-salon-spa_176420-7578.jpg?t=st=1732177804~exp=1732181404~hmac=9557a76f589c3fa67d8b8c666caa99eeb89452789f02e653ac2f61476fa41543&w=1060"
              alt="wedding photography"
              width="413"
              height="340"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">En entreprise</h3>
            <span class="cs-number">02</span>
          </div>
          <p class="cs-item-text cu-font-nexa">
            Pour les séminaires et le bien être au travail.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a
          href="/massages"
          class="cs-link"
        >
          <picture class="cs-picture" style="clip-path: circle(44.3% at 50% 50%);">
            <!--Mobile Image-->
            <source
              media="(max-width: 600px)"
              srcset="https://img.freepik.com/photos-gratuite/massage-quatre-mains-concept-soins-sante-beaute-feminine-deux-masseuses-font-double-massage-fille-femme-dans-salon-spa_1157-43646.jpg?t=st=1732177814~exp=1732181414~hmac=65e4697d37a5fb567eab4b574fb773842b44ac8464e4ef6519b6500744fb3cb2&w=1060"
            />
            <!--Tablet and above Image-->
            <source
              media="(min-width: 601px)"
              srcset="https://img.freepik.com/photos-gratuite/massage-quatre-mains-concept-soins-sante-beaute-feminine-deux-masseuses-font-double-massage-fille-femme-dans-salon-spa_1157-43646.jpg?t=st=1732177814~exp=1732181414~hmac=65e4697d37a5fb567eab4b574fb773842b44ac8464e4ef6519b6500744fb3cb2&w=1060"
            />
            <img
              loading="lazy"
              decoding="async"
              src="https://img.freepik.com/photos-gratuite/massage-quatre-mains-concept-soins-sante-beaute-feminine-deux-masseuses-font-double-massage-fille-femme-dans-salon-spa_1157-43646.jpg?t=st=1732177814~exp=1732181414~hmac=65e4697d37a5fb567eab4b574fb773842b44ac8464e4ef6519b6500744fb3cb2&w=1060"
              alt="wedding photography"
              width="413"
              height="340"
            />
          </picture>
          <div class="cs-flex">
            <h3 class="cs-h3">Personnalisé</h3>
            <span class="cs-number">03</span>
          </div>
          <p class="cs-item-text cu-font-nexa">
            Une expérience unique adapté aux besoins des clients, pour vous, par
            vous.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>

<style>
 /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2198 {
    padding: var(--sectionPadding);
    background-color: #fff;
    position: relative;
  }
  #services-2198 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2198 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2198 .cs-title {
    margin: 0;
  }
  #services-2198 .cs-card-group {
    width: 100%;
    max-width: 25rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2rem;
  }
  #services-2198 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }
  #services-2198 .cs-item:hover .cs-picture:before {
    background-color: var(--primary);
  }
  #services-2198 .cs-item:hover .cs-picture img {
    opacity: 0.3;
    ;
  }
  #services-2198 .cs-link {
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services-2198 .cs-picture {
    width: 100%;
    /* 240px - 340px */
    height: clamp(21rem, 30vw, 21.25rem); /* Switched from 15rem to 21 to keep perfect circle when in responsive mode */
    margin-bottom: 2.75rem;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    position: relative;
  }
  #services-2198 .cs-picture::before {
    content: "";
    width: 100%;
    height: 1.25rem;
    margin: 0 2rem;
    background-color: #E8E8E8;
    display: block;
    position: relative;
    top: 100%;
    bottom: 0;
    z-index: 10;
    transition: background-color 0.3s;
  }
  #services-2198 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s, opacity 0.3s;
  }
  #services-2198 .cs-flex {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #services-2198 .cs-number {
    /* 49px - 72px */
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--primary);
    opacity: 0.2;
    position: absolute;
    z-index: 0;
  }
  #services-2198 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 1.25rem 0;
    color: var(--headerColor);
    z-index: 1;
  }
  #services-2198 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2198 .cs-container {
    max-width: 80rem;
  }
  #services-2198 .cs-card-group {
    max-width: none;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-2198 .cs-item {
    grid-column: span 4;
  }
  #services-2198 .cs-picture {
    margin-bottom: 3.25rem;
    
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-2198 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #services-2198 .cs-title,
  body.dark-mode #services-2198 .cs-h3,
  body.dark-mode #services-2198 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-2198 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #services-2198 .cs-picture::before {
    background-color: var(--medium);
  }
}
                                
</style>
